.gold {
    border-left: .25rem solid #ffd700 !important
}

.silver {
    border-left: .25rem solid #c0c0c0 !important
}

.bronze {
    border-left: .25rem solid #cd7f32 !important
}

.red {
    border-left: .25rem solid #d90b0b !important
}

.first, .second {
    margin-left: auto;
    margin-right: auto;
}

#picker{
    display: none;
}

#map {
    background-color: #484e65;
    width: 100%;
    height: 83.5vh;
}

.search {
    justify-content: center;
    margin: 1em auto;
}

#form{
    width: 20em;
}

#openGraph{
    padding: 0.7em 1em ;
    background-color: #484e65;
}

.selector {
    width: 15em;
    font-size: 18px;
    text-align-last: center;
}

.picker-position {
    margin-left: auto;
    margin-right: auto;
}

.leaflet-popup-tip {
    width: 0px;
    height: 0px;
  }

.leaflet-popup-content-wrapper {
    border: black 0.2em solid;
}

#chartdiv {
    width: 100%;
    height: 500px;
}

