.gold {
    border-left: .25rem solid #ffd700 !important
}

.silver {
    border-left: .25rem solid #c0c0c0 !important
}

.bronze {
    border-left: .25rem solid #cd7f32 !important
}

.red {
    border-left: .25rem solid #d90b0b !important
}

.first, .second {
    margin-left: auto;
    margin-right: auto;
}

#picker{
    display: none;
}

#map {
    background-color: #484e65;
    width: 100%;
    height: 100vh;
}

.search {
    justify-content: center;
    margin: 1em auto;
}

#form{
    width: 20em;
}

#openPicker{
    padding: 0.7em 1em ;
}

.selector {
    width: 15em;
    font-size: 18px;
    text-align-last: center;
}

.picker-position {
    margin-left: auto;
    margin-right: auto;
}
